// Base colors
$white: #ffffff;
$black: #0d0d0d;

// Font Size
$base_fz: 1rem;
$base_ff: "Roboto", sans-serif;
$base_hover: #ca8311;
$base_bg: #ffffff;

//? Fonts
$ff_R: "Roboto";

//? Style
$I: italic;
$O: oblique;

//? Weight
$th: 100; // Thin
$el: 200; // Extra Light
$l: 300; // Light
$r: 400; // Regular
$m: 500; // Medium
$sb: 600; // SemiBold
$b: 700; // Bold
$eb: 800; // Extra Bold
$bl: 900; // Super
